<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {% if session.username %}
            <a href="/logout">Kirjaudu ulos</a>
            {% if items %}
            <ul>
                {% for item in items %}
                    <li>
                        <form method="POST" action="/remove_item/{{item.id}}">
                            {{ item.content }}
                            <input type="submit" value="poista">
                            <input type="hidden" name="list_id" value="{{ list_id }}">
                        </form>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Tämä lista on tyhjä!</p>
            {% endif %}
            <p>
            <form action="/list/{{list_id}}" method="POST">
                <label for="new_item">Lisää tuote listalle:</label>
                <input type="text" name="new_item">
                <input type="submit">
            </form>
            </p>
            <a href="/main">Palaa pääsivulle</a>
        {% else %}
            <p>Sinun pitää <a href="/">kirjautua sisään</a></p>
        {% endif %}
    </body>
</html>