<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {% if session.username %}
            <a href="/logout">Kirjaudu ulos</a>
            {% if users_lists %}
                <p>Sinulla on listoja:</p>
                {% for list in users_lists %}
                    <form action="/remove_list/{{list.id}}" method="POST">
                        <a href="/list/{{ list.id }}">{{ list.title }}</a>
                        <input type="submit" value="poista">
                    </form>
                {% endfor %}
            {% else %}
                <p>Sinulla ei ole vielä listoja</p>
            {% endif %}
            <p>
                <a href="/newlist"><input type="button" value="Luo uusi lista"></a>
            </p>
        {% else %}
            <p>Sinun pitää <a href="/">kirjautua sisään</a></p>
        {% endif %}
    </body>
</html>